---
interface Props {
  elementId: string;
  description: string;
  icon?: string;
  value: string;
  name: string;
}

const { name, elementId, description, icon, value } = Astro.props;
---
<li><label for={elementId}>
  <input name={name} type="radio" id={elementId} value={value}>
  {
    icon &&
    <span class="icon">{icon}</span>
  }
  <span class="description">{description}</span>
</label></li>
<style lang="scss">

li {
  width: 100%;
  list-style-type: none;
  &:hover {
    color: rgb(var(--accent));
  }
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;
}

label {
  width: 100%;
  display: block;
  padding: 0.25rem 1rem;
}

input {
  display: none;
}

@media only screen
  and (max-width: 415px) {

  // .icon + .description {
  //   display: none;
  // }

}

@media only screen
  and (min-width: 415px)
  and (max-width: 830px) {


}

</style>
